[submodule "hak"]
	path = hak
	url = git@github.com:Terrikonn/hak.git
	branch = master
[submodule "ports"]
	path = ports
	url = git@github.com:Terrikonn/ports.git
	branch = master
[submodule "drivers"]
	path = drivers
	url = git@github.com:Terrikonn/drivers.git
	branch = master
[submodule "rush"]
	path = rush
	url = git@github.com:Terrikonn/rush.git
	branch = master
[submodule "arch"]
	path = arch
	url = git@github.com:Terrikonn/arch.git
[submodule "bootloader"]
	path = bootloader
	url = git@github.com:Terrikonn/bootloader.git
[submodule "logist"]
	path = logist
	url = git@github.com:Terrikonn/logist.git
[submodule "bitte"]
	path = bitte
	url = git@github.com:Terrikonn/bitte.git
